@import "../variables";


.projects {
    margin-top: 50px;
    height: auto;
    width: 100%;
    display: grid;
    place-items: center;
    overflow-x: hidden;

    @media (max-width:550px) {
        margin-top: 0px;
        
    }

    .wrapper {
        width: 100%;
        height: auto;
        display: grid;
        place-items: center;
        overflow: hidden; //2070px
        // background-color: transparent;

        & .pro_tag {
            display: flex;
            justify-content: normal;
            align-items: center;
            margin-bottom: 14px;
            font-weight: 600;
            color: #333;
            letter-spacing: .1em;
            position: relative;
            text-transform: uppercase;
            width: 1050px;

            &::before {
                content: "";
                margin-right: 8px;
                display: flex;
                width: 64px;
                height: 1px;
                background: #f0a536;
            }
        }
       
        .pro_items {
            padding: 100px 0;
            width: 100%;
            height: fit-content;
            display: grid;
            place-items: center;
            position: relative;
            overflow: hidden;

             @media (max-width:550px) {
                padding: 70px 0;
                padding-bottom: 250px;
            }


            &:nth-last-child(1) { //3
                background: #fff8df;
            }
            &:nth-last-child(2) { //2
                background: #f6f5f9;
            }
            &:nth-last-child(3) { //1
               background: #fff7f3;
            }
        } 
    }
}

// left this in hre deliberately for now

// responsiveness

@media (max-width:550px) {

.projects {

    .wrapper {
        width: 100%;

        & .pro_tag {
            font-size: 14px;
            width: 90%;
        }
    }

} 

}

