.navbar {
    width: 100%;
    height: 115px;
    position: absolute;
    top: 0;
    left: 0;
    display: grid;
    place-items: center;
    z-index: 99;
    overflow-x: hidden;
    // padding: 0 150px;      
    // background-color: grey;

    & .navInner {      
        width: 1050px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        // background-color: red;
        height: fit-content;
       
        & .navLogo {
            img {
                height: 30px;
                cursor: pointer;
            }
        }

        & .navList {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 658.188px;
            // background-color: aqua;

            & li {
                text-transform: uppercase;
                font-family: 'Poppins', sans-serif;
                font-size: 14px;
                line-height: 19px;
                font-weight: 600;
                letter-spacing: .05em;  
                cursor: pointer;
                
                &:last-of-type {
                    width: 163.719px;
                    height: 48px;
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: center;   
                        
                    &::before {
                        content: 'work with us';
                        width: 100%;
                        height: 50%;
                        position: absolute;
                        bottom: 0;
                        left: 0;                           
                        overflow: hidden;
                        display: flex;
                        align-items: center;
                        justify-content: center; 
                        color: transparent;
                        transition: all .5s ease-in-out;
                        white-space: nowrap;
                            
                        background-color: rgba(255, 255, 255, 0.288);
                    }

                    &:hover::before{
                        border-radius: 10px;
                        border-bottom: 0px;
                        color: #481788;
                        height: 100%;  
                        background-color: #fff;                                                     
                    }
                }

                & a {
                    color: #fff;
                }

            }
        }
    }
}

@media (max-width:1200px) {

    

}


@media (max-width:550px) {

.navbar {
    visibility: hidden;
}
    

}