.we_do {
    padding-top: 120px;
    padding-bottom: 100px;
    height: auto;
    width: 100%;
    display: grid;
    place-items: center;

    @media (max-width:550px) {
        padding-top: 90px;
        padding-bottom: 90px;
    }

    .wrapper {
        max-height: 1000px;
        width: 1050px;
        justify-content: space-between;
        display: flex;
        
        & .we_do_img {
            width: 500px;
            height: 557.766px;
            position: relative;

            & figure {
                overflow: hidden;
                border-radius: 12px;

                & img {
                    transition: all .6s;
                    border-radius: 12px;

                    &:hover {
                        transform: scale(1.2);
                    }
                }
            }

            & img {
                &:nth-child(2) {
                    position: absolute;
                    bottom: -45px;
                    left: -45px;
                    width: 175px;
                    z-index: -1;
                }
            }
        }

        & .we_do_text {
            height: auto;
            width: 400px;

            & .we_do_tag {
                display: flex;
                justify-content: normal;
                align-items: center;
                margin-bottom: 14px;
                font-weight: 600;
                color: #333;
                letter-spacing: .1em;
                position: relative;
                text-transform: uppercase;

                &::before {
                    content: "";
                    margin-right: 8px;
                    display: flex;
                    width: 64px;
                    height: 1px;
                    background: #f0a536;
                }
            }

            & .we_do_title {
                font-size: 30px;
                font-weight: 600;
                line-height: 44px;
                color: #333;
                margin-bottom: 30px;
                font-style: normal; 
            }

            & .we_do_desc {                
                font-size: 17px;
                font-weight: 300;
                color: #666;
                line-height: 32px;
                margin-bottom: 32px; 
            }

            & .we_do_items {  

                & .items {
                    padding: 0 30px;
                    background: #fff;
                    margin-bottom: 40px;
                    border-radius: 10px;
                    box-shadow: none;
                    transition: all .4s ease-in-out;
                    height: auto;
                    max-height: 700px;
                    display: flex;
                    justify-content: normal;
                    align-items: center;
                    cursor: pointer; 

                    &:hover {
                        padding: 30px;
                        box-shadow: 0px 20px 50px 0px rgba(233, 233, 233, 0.5);

                        & .itemsIcon {
                            color: #5d1182;
                            border-color: currentColor;
                            
                            & ion-icon {
                                font-size: 14px;
                            }
                        }
                    }

                    &:hover .itemsCut {
                        height: auto;

                        & .itemsHeader {
                            color: #481788;
                        }
                    }

                    & .itemsIcon {
                        width: 30px;
                        min-width: 30px;
                        flex: 0 0 30px;
                        height: 30px;
                        border-radius: 50%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border: 2px solid currentColor;
                        margin-right: 20px;
                        transition: all .4s ease-in-out;
                        color: #d9d9d9;

                        & ion-icon {
                            font-size: 12px;
                        }
                    }

                    & .itemsCut {
                        display: flex;
                        justify-content: left;
                        align-items: flex-start;
                        flex-direction: column;
                        height: 30px;
                        overflow: hidden;

                        & .itemsHeader {
                            font-size: 20px;
                            font-weight: 600;
                            line-height: 27px;
                            color: #666;
                            transition: all .4s ease-in-out;
                        }

                        & .itemsContent {
                            margin-top: 10px;
                            line-height: 22px;
                            color: #707692;
                            font-size: 15px;
                        }
                    }                    
                }
            }
        }
    }
}


@media (max-width:550px) {

.we_do {
    height: fit-content;
    overflow-x: hidden;
    // background-color: rgba(128, 128, 128, 0.24);

    & .wrapper {
        width: 80%;
        max-height: none;
        height: fit-content;
        flex-direction: column;
        align-items: center;

        & .we_do_img {
            width: 280px;
            height: 200px;
            position: relative;
            // background-color: #481788;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 180px;

            & figure {
                overflow: hidden;
                border-radius: 12px;

                & img {
                    height: 100%;
                    width: 100%;

                    &:hover {
                        transform: scale(1.2);
                    }
                }
            }

            & img {
                &:nth-child(2) {
                    position: absolute;
                    top: -45px;
                    left: 90px;
                    width: 175px;
                    z-index: -1;
                    height: 86.813px;
                    width: 80px;
                }
            }
        }

        & .we_do_text {
            height: auto;
            width: fit-content;
            max-width: 400px;

            & .we_do_tag {
                font-size: 14px;
            }

            & .we_do_title {
                font-size: 24px;
                font-weight: 600;
                line-height: 33px;
                margin-bottom: 20px;
            }

            & .we_do_desc {                
                font-size: 15px;
                line-height: 28px;
                margin-bottom: 35px; 
            }

            & .we_do_items {  

                & .items {
                    padding: 0 5px;
                    background: #fff;
                    margin-bottom: 30px;
                    height: auto;
                    display: flex;
                    justify-content: normal;
                    align-items: center;

                    & .itemsCut {

                        & .itemsHeader {
                            font-size: 15px;
                            font-weight: 600;
                            line-height: 27px;
                        }

                        & .itemsContent {
                            margin-top: 10px;
                            line-height: 22px;
                            color: #707692;
                            font-size: 13px;
                        }
                    }                    
                }
            }
        }
    }
}
    

}