.navbar {
    width: 100%;
    height: 115px;
    position: absolute;
    top: 0;
    left: 0;
    display: grid;
    place-items: center;
    z-index: 99;
    visibility: hidden;
    overflow-x: hidden;
    // padding: 0 150px;      
    // background-color: grey;

    & .navInner {      
        width: 1050px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        // background-color: red;
        
        height: 33px;
       
        & .navLogo {
            // z-index: 99999;
            img {
                height: 40px;                
            }
        }

        & .menuI {
            display: block;
            width: fit-content;
            height: 20px;
            position: relative;
            margin-top: -8px;
            transition: all .2s ease-in-out;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: column;
            margin-bottom: 1px;
            cursor: pointer;

            & span {
                background: #481788;
                // position: absolute;
                width: 32px;
                height: 4px;
                border-radius: 16px;

            }
        }


        & svg{
            cursor: pointer;
            // z-index: 99999;
            color: #481788;
        }  
            
            .navM{
                transform: scale(0);
                // transform-origin: 100% 0;
                position: fixed;
                top: 0;
                left: 0;
                background-color: rgba(0, 0, 0, 0.7);
                box-shadow: 10px 10px 30px rgba($color: #000000, $alpha: 0.1);
                transition: .3s;
                height: 100vh;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;

                & .content {
                    height: 350px;
                    width: 280px;
                    background-color: #f5f5fa;
                    border-radius: 15px;
                    position: relative;

                    & .top {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: flex-end;
                        padding: 1.5rem;

                        & svg{
                            cursor: pointer;
                            color: #000;
                        }                    
                        
                    }

                    & .links {
                            height: 100%;
                            width: 80%;
                            margin: 0 auto;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            flex-direction: column;
                            
                        & a {
                            margin: 1rem auto;
                            text-align: left;
                        }    
                    }
                }
                
            }


    }
}

@media (max-width:1200px) {

    

}


@media (max-width:550px) {

.navbar {
    visibility: visible;

    & .navInner {
        width: 80%;

        // & .navLogo a > img{
        //     height: 35px;
        // }

        & .menuI {
            margin-top: 2px;
        }
    }
}
    

}